.box__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  height: 100%;
}

.box__header {
  text-align: center;
}

.box__title {
  font-family: 'Exo 2', 'Calibri', sans-serif;
  color: var(--verde-escuro);

  margin-bottom: 0.5rem;
}

.box__subtitle {
  font-family: 'Nunito', 'Arial', sans-serif;
  color: var(--neutro-escuro);
}

.box__label {
  font-family: 'Exo 2', 'Calibri', sans-serif;
  color: var(--verde-sicredi);
}

.box__body {
  display: flex;
  justify-content: space-evenly;
}

.box__footer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  gap: 8px;

  text-align: center;
}

.box__link {
  font-family: 'Nunito', 'Arial', sans-serif;
  color: var(--verde-sicredi);
}

.box__button {
  font-family: 'Nunito', 'Arial', sans-serif !important;
  font-weight: bold !important;
}

@media screen and (max-width: 960px) {
  .box__body {
    flex-direction: column;
    align-items: center;

    gap: 1rem;
  }

  .box__title {
    font-family: 'Exo 2', 'Calibri', sans-serif;
    color: var(--verde-escuro);

    margin-bottom: 0.5rem;

    font-size: 1.5rem;
  }
}